mat-card {
  max-width: 500px;
  height: 700px;
}

form {
  display: flex;
  flex-direction: column;
  width: 450px;
}

.checkbox {
  display: flex;
  margin: 15px ;
}

.example-radio-button {
  margin: 5px;
}

.checkbox-list {
  width: 15px ;
}





